<div class="bg-secondary">
  <div class="w-[1400px] max-w-full mx-auto px-4 py-14">
    <div class="flex flex-wrap md:flex-nowrap justify-between gap-7 text-white">
      <div class="space-y-3 max-w-[600px]">
        <div class="flex">
          <img src="../../../assets/WhiteLogo.svg" alt="Logo" />
        </div>

        <p class="pb-3 opacity-75 text-[14px] md:text-base">
          Style Flows Here: Your Ultimate Fashion Destination! Explore
          Trendsetting Collections, Shop the Latest Looks, and Let Your Fashion
          Flow with Us!
        </p>
        <span class="opacity-75 text-[14px] md:text-base"
          ><i class="bi bi-envelope"></i> FashionFlow&#64;gmail.com</span
        >
      </div>
      <div class="flex flex-col gap-3">
        <h1 class="font-semibold">Product</h1>
        <ul class="space-y-2 opacity-75 text-[14px] md:text-base">
          <li>Landing Page</li>
          <li>Shop</li>
          <li>Men</li>
          <li>Women</li>
          <li>Accessories</li>
        </ul>
      </div>
      <div class="flex flex-col gap-3">
        <h1 class="font-semibold">Company</h1>
        <ul class="space-y-2 opacity-75 text-[14px] md:text-base">
          <li>About</li>
          <li>Privacy Policy</li>
          <li>Terms & Conditions</li>
          <li>Partners</li>
          <li>Contact</li>
        </ul>
      </div>
      <div class="flex flex-col gap-3">
        <h1 class="font-semibold">Resources</h1>
        <ul class="space-y-2 opacity-75 text-[14px] md:text-base">
          <li>Blog</li>
          <li>Tools</li>
          <li>Support</li>
        </ul>
      </div>
    </div>
    <div class="flex items-center justify-between gap-3 text-white mt-10">
      <span>© 2024 All Right Reserved</span>
      <span class="flex gap-5">
        <i class="bi bi-instagram text-xl"></i>
        <i class="bi bi-twitter text-xl"></i>
        <i class="bi bi-linkedin text-xl"></i>
      </span>
    </div>
  </div>
</div>
