<div class="bg-white h-[81px] w-full shadow-sm sticky top-0 left-0">
  <div
    class="w-[1300px] h-full mx-auto max-w-full flex items-center justify-between px-4 gap-1"
  >
    <img src="../../assets/Logo.svg" alt="" />
    <div
      class="hidden md-900:flex gap-5 font-semibold opacity-60 text-[14px] items-center"
    >
      <span>Home</span><span>Shop</span><span>Women</span><span>Men</span
      ><span>Accessories</span><span>About Us</span><span>Contact Us</span
      ><span>Blog</span>
    </div>
    <div class="flex gap-5 items-center">
      <i class="bi bi-search text-[18px]"></i>
      <i class="bi bi-heart text-[18px]"></i>
      <i class="bi bi-handbag text-[18px]"></i>
      <i class="bi bi-person text-[20px]"></i>
    </div>
  </div>
</div>
