<div>
  <div class="h-[554px] flex items-center justify-center relative">
    <div class="absolute bg-black opacity-20 inset-0"></div>
    <img
      src="../../assets/contact-us.jpg"
      alt=""
      class="h-full w-full object-cover"
    />
    <div class="space-y-5 absolute text-white text-center px-3">
      <p class="text-base md:text-[18px]">
        Discover the answers you're looking for
      </p>
      <h1 class="text-[32px] md:text-[50px] font-bold">
        What can we help you with?
      </h1>
    </div>
  </div>
  <div
    class="w-[1000px] max-w-full mx-auto py-10 flex items-center justify-center px-4"
  >
    <div class="flex items-center justify-center flex-wrap gap-5">
      <div
        class="flex flex-col items-center justify-center gap-3 w-[300px] py-5 px-4 text-center border group"
      >
        <i
          class="bi bi-question-circle text-[40px] text-[#297bba] group-hover:-translate-y-2 transition ease-in-out duration-300"
        ></i>
        <h1 class="text-xl font-semibold opacity-80">Shop Help</h1>
        <p class="text-[14px] font-light opacity-60 group-hover:text-[#297bba]">
          Get help with shop orders, eBooks, or ask a question about one of our
          guides.
        </p>
      </div>
      <div
        class="flex flex-col items-center justify-center gap-3 w-[300px] py-5 px-4 text-center border group"
      >
        <i
          class="bi bi-chat-left-dots text-[40px] text-[#297bba] group-hover:-translate-y-2 transition ease-in-out duration-300"
        ></i>
        <h1 class="text-xl font-semibold opacity-80">Shop Help</h1>
        <p class="text-[14px] font-light opacity-60 group-hover:text-[#297bba]">
          Get help with shop orders, eBooks, or ask a question about one of our
          guides.
        </p>
      </div>
      <div
        class="flex flex-col items-center justify-center gap-3 w-[300px] py-5 px-4 text-center border group"
      >
        <i
          class="bi bi-info-circle text-[40px] text-[#297bba] group-hover:-translate-y-2 transition ease-in-out duration-300"
        ></i>
        <h1 class="text-xl font-semibold opacity-80">Shop Help</h1>
        <p class="text-[14px] font-light opacity-60 group-hover:text-[#297bba]">
          Get help with shop orders, eBooks, or ask a question about one of our
          guides.
        </p>
      </div>
      <div
        class="flex flex-col items-center justify-center gap-3 w-[300px] py-5 px-4 text-center border group"
      >
        <i
          class="bi bi-question-circle text-[40px] text-[#297bba] group-hover:-translate-y-2 transition ease-in-out duration-300"
        ></i>
        <h1 class="text-xl font-semibold opacity-80">Shop Help</h1>
        <p class="text-[14px] font-light opacity-60 group-hover:text-[#297bba]">
          Get help with shop orders, eBooks, or ask a question about one of our
          guides.
        </p>
      </div>
      <div
        class="flex flex-col items-center justify-center gap-3 w-[300px] py-5 px-4 text-center border group"
      >
        <i
          class="bi bi-question-circle text-[40px] text-[#297bba] group-hover:-translate-y-2 transition ease-in-out duration-300"
        ></i>
        <h1 class="text-xl font-semibold opacity-80">Shop Help</h1>
        <p class="text-[14px] font-light opacity-60 group-hover:text-[#297bba]">
          Get help with shop orders, eBooks, or ask a question about one of our
          guides.
        </p>
      </div>
      <div
        class="flex flex-col items-center justify-center gap-3 w-[300px] py-5 px-4 text-center border group"
      >
        <i
          class="bi bi-question-circle text-[40px] text-[#297bba] group-hover:-translate-y-2 transition ease-in-out duration-300"
        ></i>
        <h1 class="text-xl font-semibold opacity-80">Shop Help</h1>
        <p class="text-[14px] font-light opacity-60 group-hover:text-[#297bba]">
          Get help with shop orders, eBooks, or ask a question about one of our
          guides.
        </p>
      </div>
    </div>
  </div>
</div>
