<div>
  <div class="height bg-primary">
    <div
      class="w-[1400px] max-w-full mx-auto px-3 flex items-center justify-between"
    >
      <div class="flex flex-col gap-5 md-900:basis-[60%]">
        <div
          class="p-2 bg-white rounded-3xl flex items-center gap-2 w-fit px-5"
        >
          <img
            src="https://dhws-production.s3.ap-south-1.amazonaws.com/60d476bc92d3a3001575d2ee/60d47a1992d5640016253693/66320af44f314e001700438f/appSource/images/img_icon_blue_gray_900_01.svg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQODH4IWPZWQNPYGZ%2F20240902%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20240902T183013Z&X-Amz-Expires=25200&X-Amz-Signature=e1eead7682b8e1ba0a7b018cc078a7e5b8414deae60ee019d2c2ab215d963c01&X-Amz-SignedHeaders=host"
            alt=""
          />
          <span class="text-[22px] font-bold"
            >Enjoy 50% OFF in Our Summer Super Sale!</span
          >
        </div>
        <h1 class="text-[52px] font-bold text-[#1b2834]">
          Step into Fashion at Your <br />
          Ultimate Style Destination!
        </h1>
        <p class="text-[18px] opacity-75 leading-relaxed">
          Explore a World of Fashion Possibilities with Exclusive Discounts -
          Dive into Your Ultimate Style Destination and Elevate Your Wardrobe
          Today!
        </p>
        <button
          class="bg-secondary self-start text-white px-7 py-3 rounded-md font-semibold flex items-center gap-2 group"
        >
          Shop Now<i
            class="bi bi-arrow-right transition duration-300 ease-in-out group-hover:translate-x-2"
          ></i>
        </button>
      </div>
      <img
        src="https://dhws-production.s3.ap-south-1.amazonaws.com/60d476bc92d3a3001575d2ee/60d47a1992d5640016253693/66320af44f314e001700438f/appSource/images/img_close_up_portra.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQODH4IWPZWQNPYGZ%2F20240902%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20240902T183013Z&X-Amz-Expires=25200&X-Amz-Signature=3c978839e01c6d4f1906754c263c69026f945e8992a7f49c534e9ffc46ca1db2&X-Amz-SignedHeaders=host"
        alt="E-commerce"
        class="height md-900:basis-[35%] object-contain"
      />
    </div>
  </div>
</div>
