<div>
  <div class="relative flex items-center justify-center h-[530px]">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <img
      src="https://lonelyplanetstatic.imgix.net/marketing/about/about_us.jpg?auto=format&w=1920&h=1289&q=60"
      alt="About us"
      class="h-full object-cover w-full"
    />
    <div class="absolute text-white text-center">
      <h1 class="text-[32px] md:text-[50px] font-bold">About Us</h1>
      <p class="text-base md:text-[18px]">For explorers everywhere.</p>
    </div>
  </div>
  <div class="w-[80%] md:w-[50%] max-w-full mx-auto px-4 py-20 space-y-4">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex tempore
      cupiditate ratione labore, ipsum ducimus architecto facilis id voluptates
      asperiores obcaecati eos libero fugit dolorum tenetur? Dolore voluptatum
      natus ipsum.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex tempore
      cupiditate ratione labore, ipsum ducimus architecto facilis id voluptates
      asperiores obcaecati eos libero fugit dolorum tenetur? Dolore voluptatum
      natus ipsum.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex tempore
      cupiditate ratione labore, ipsum ducimus architecto facilis id voluptates
      asperiores obcaecati eos libero fugit dolorum tenetur? Dolore voluptatum
      natus ipsum.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex tempore
      cupiditate ratione labore, ipsum ducimus architecto facilis id voluptates
      asperiores obcaecati eos libero fugit dolorum tenetur? Dolore voluptatum
      natus ipsum.
    </p>
  </div>
</div>
